<br><h2><b>Student Profile</b> </h2><br><br><br>

<h3>Register Number :</h3><br><br><br> <p>113116205057<p>
<div class="para">
  <ul>
      <li>The duplicate certificate will be issued only when it is lost or destroyed irrevocably.</li>
      <li>The application should be made only by the candidate in the prescribed format and should be sent to the Controller of Examinations directly.<br>
      Application received on behalf of the candidate will not be accepted.</li>
      <li>Students are requested to download the below PDF & complete the blank spaces before submitting.</li>
      <li>Calculate your Internal Marks based on your assessment</li> 
</div>
<br>
<table class="table table-success table-striped">
  <thead>
    <tr>
      <th>Form</th>
      <th><%= link_to "Download", asset_path("Duplicate_Certi.pdf") %></th>
    </tr>
  </thead>
</table><br>
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Simply</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
 
<body>
    <header>
        <div class="wrapper">
            <h1></h1>
            <nav></nav>
        </div>
    </header>
    
    <div id="hero-image">
        <div class="wrapper">
            <h2></h2>
            <a></a>
        </div>
    </div>
    
    <div id="features">
        <div class="wrapper">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    
    <div id="primary-content">
        <div class="wrapper">
            <article></article>
        </div>
    </div>
    
    <div id="secondary-content">
        <div class="wrapper">
            <article></article>
            <article></article>
        </div>
    </div>
    
    <div id="cta">
        <div class="wrapper">
        </div>
    </div>
    
    <footer>
        <div class="wrapper">
            <div id="footer-info"></div>
            <div id="footer-links">
                <ul></ul>
                <ul></ul>
                <ul></ul>
            </div>
        </div>
    </footer>
    
</body>
</html>

