<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anna University</title>
    <%= stylesheet_link_tag "style" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <section class="sub_heade">
        <h3> ABOUT US <h3>
    </section>

    <!-- contact form code start -->
    <section class="about-us">
        <div class="row">
            </h4>
            <p>Anna University was established on 4th September, 1978 as a unitary type of
University. This University was named after Late Dr.C.N.Annadurai, former Chief Minister
of Tamil Nadu. It offers higher education in Engineering, Technology, Architecture and
Applied Sciences relevant to the current and projected needs of the society. Besides
promoting research and disseminating knowledge gained therefrom, it fosters cooperation
between the academic and industrial communities. </p><br><br>
            <p>The University was formed by bringing together and integrating four well known
technical institutions in the city of Madras (now Chennai) namely, </p><br><br>
            

            <h6><b>Objectives of the University:</b></h6><br>
            <div class="para">
            <ul>
                <li>To constantly raise the quality of engineering education thereby to produce
superior human resource to match rapid technological developments</li>
                <li>To share its academic experience and infrastructure with other institutions for
providing quality education across the State and help students to fulfill their
dreams.</li>
                <li>To uphold the highest ethical and professional standards while imparting
engineering education and while fulfilling its obligations to students and staff.</li>
                <li>To serve the society with technological advancement and to actively take part in
building knowledge-based society.
</li>
                
            </div>

                </section>   
        <section class="footer">
            <h4>
                HIstory
            </h4>
            <p>Anna University was established on 4th September, 1978 as a unitary type of
University. This University was named after Late Dr.C.N.Annadurai, former Chief Minister
of Tamil Nadu. It offers higher education in Engineering, Technology, Architecture and
Applied Sciences relevant to the current and projected needs of the society. Besides
promoting research and disseminating knowledge gained therefrom, it fosters cooperation
between the academic and industrial communities. </p>
            <div class="icons">
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </section>
    </section><br>
    <!-- contact form code end -->
   


    <script>
        const navLinks = document.getElementById('navLinks');

        function showMenu(){
            navLinks.style.right = "0"
        }
        function hideMenu(){
            navLinks.style.right = "-200px"
        }
    </script>
</body>
</html>
