<br><h2><b>Anna University CGPA to Percentage Conversion - Procedure & Application</b> </h2><br><br>

<p>CGPA to Percentage conversion for Anna University Affiliated Colleges could be done using the below formula. This is used for the students who needs to do higher education.<p>
<br><h4><b>Formula</b><h4>
<div class="para">
  <ul>
      <li><b>Percentage = CGPA * 10</b></li>
</div><br>
<p>For Example , if your CGPA is 9.23 then your Percentage is 92.<p>
<br>

<p><b>Note:</b> This formula is applicable only for Anna University Affiliated Colleges</p><br>

<table class="table">
  <thead>
    <tr>
      <th>Formula</th>
      <th><%= link_to "Download", asset_path("Duplicate_Certi.pdf") %></th>
    </tr>
  </thead>
</table><br>
