<br><h2><b>Anna University Internal Marks</b> </h2><br><br><br>

<h6><b>How Internal Marks are generated?</b></h6>
<p>Anna University Internal Marks are calculated based on the marks scored by the students in Cycle Test I, Cycle Test II, <br>
Model Examination [Assessment Marks] & Attendance. These marks & attendance of the students are uploaded in the Controller of<br>
Examinations portal by the respective college admin or subject handling faculty.<br><br>

These CT & Model Examination marks are then converted to out of “15” &<br>
Attendance is then converted to out of “5”. Then these numbers are added<br>
together which will be your Internal Marks.</p><br>

<h6><b>When Anna University Internal Marks be Published?</b></h6>
<p>Every semester Anna University Internal Marks be published before few days of the commencement<br>
of Semester Examination.</p><br>

<h6><b>How to Change Internal Marks?</b></h6>
<p>Internal Marks could be changed or modified only if Cycle Test I/II or Model Examination or Attendance<br>
is changed by the faculty in the Controller of Examinations portal. If any students feel discrepancy in their<br>
Internal Marks they can contact the subject handling faculty for any clarification.</p><br>

<h6><b>How to check Anna University Internals?</b></h6>
<br>
<div class="para">
  <ul>
      <li>Go to Internal Marks Section in STUCOR Website</li>
      <li>Click “Internals Portal”</li>
      <li>Enter your Register Number & DOB in Student Login</li>
      <li>Navigate to Assessment Marks sections</li>
      <li>Calculate your Internal Marks based on your assessment</li>
    
</div>
<br>
<h3>Click here  <i>link</i><!--%= link_to 'here', internal_path %--> to check Internal Marks </h3><br>

