<br><h2><b>Anna University Duplicate Certificate Application Form</b> </h2><br><br><br>

<p>As per the Anna University Controller of Examinations Notice,<p>
<div class="para">
  <ul>
      <li>The duplicate certificate will be issued only when it is lost or destroyed irrevocably.</li>
      <li>The application should be made only by the candidate in the prescribed format and should be sent to the Controller of Examinations directly.<br>
      Application received on behalf of the candidate will not be accepted.</li>
      <li>Students are requested to download the below PDF & complete the blank spaces before submitting.</li>
      <li>Calculate your Internal Marks based on your assessment</li> 
</div>
<br>
<table class="table table-success table-striped">
  <thead>
    <tr>
      <th>Form</th>
      <th><%= link_to "Download", asset_path("Duplicate_Certi.pdf") %></th>
    </tr>
  </thead>
</table><br>

<p>After downloading the above form students need to fill and submit those documents to the Controller of Examinations Office attached <br>
with Demand Draft. Students will be notified on it’s progress regularly. Students can collect those certificates once it’s ready. </p>

<h3>Click here  <i>link</i>  <!--%= link_to 'here', internal_path %--> </h3><br>

