<br><h2><b>AU News Malpractice
Anna University Malpractice Results, Enquiry & Punishment</b> </h2><br><br><br>

<h6><b>Malpractice Results:</b></h6>
<p>Some students who’d been marked as WH still will undergo an enquiry</p><br>

<h6><b>Enquiry Dates:</b></h6>
<p>Usually Anna University will send enquiry dates to the students via post or e-mail.</p><br>

<h6><b>Fines & Punishments:</b></h6>
<p>Fines & Punishment might be different for Examinations. You’ll receive your fine or punishment via e-mail.<br>
<br>
[All students are requested to read this page completely before entering the Exam Hall]</p><br>

<h6><b>WARNING TO STUDENTS:</b></h6>
<p>Important Notice: Students Engineering Degree might be completely removed if they try to give bribe to any<br>
person to illegally pass the Examinations conducted by the Anna University. Separate team will be closely monitoring<br>
these illegal activities. For other rules & punishments read below.</p><br>

<h6><b>1. What are the rules that need to be followed inside the exam hall to prevent yourself from committing malpractice?
</b></h6>
<br>
<div class="para">
  <ul>
      <li>A candidate is permitted to use geometric tools, non-programmable calculators and approved tables and data books during the theory and the practical examinations. No other material/gadget (including cell phone) should be brought inside the examination hall.</li><br>
      <li>A candidate should neither poses/refer any forbidden material in any form nor should seek/obtain assistance in any form from any person/source towards answering the questions during the examinations.</li><br>
      <li>He/she should not assist other candidates in any form towards answering the questions during the examinations.</li><br>
      <li>The candidate should not reveal his/her identity in any form in the answer scripts.</li><br>
      <li>The candidate should not indulge in canvasing either directly or indirectly to award more than deserving marks in the examinations.</li><br>
      <li>The candidate should maintain discipline and decorum during the examinations.</li>
</div>
<p>Violation of the above rules in any form during the examinations will attract punishment ranging from levying fine to permanently debarring the candidate from continuing his/her studies.</P>

<h6><b>2. What are the different nature of Mal-Practice & it’s Punishments?</b></h6>
<br>
<h6><b>A) Punishment : </b>Fine of Rs. 1000/- per subject</h6><br>
<div class="para">
  <ul>
      <li>Appeal by the student in the answer script to show mercy by way of awarding more than deserving marks.</li><br>
      <li>The student writing his / her name in the answer script.</li><br>
      <li>The Student writing his / her registration number / college name in places other than specified in the answer script.</li><br>
      <li>Any special marking in the answer script by the student.</li><br>
      <li>The student communicating with neighbouring candidate orally or non-verbally: the candidate causing suspicious movement of his/ her body.</li><br>
      <li>Irrelevant writing by the student in the answer script.</li>
</div><br>
<h6><b>B) Punishment : </b>Invalidating the examination of the particular subject written by the student</h6><br>
<div class="para">
  <ul>
      <li>The candidate facilitating the other student(s) to copy from his/her answer script</li><br>
</div><br>